<div class="nav-wrapper">
    <div class="nav-item" (click)="goTo('line')">
      <div class="img">
        <img src="images/line-chart.png" alt="" />
      </div>
      <div class="text">LINE</div>
    </div>
    <div class="nav-item" (click)="goTo('bar')">
      <div class="img">
        <img src="images/bar-chart.png" alt="" />
      </div>
      <div class="text">BAR</div>
    </div>
    <div class="nav-item" (click)="goTo('pie')">
      <div class="img">
        <img src="images/pie-chart.png" alt="" />
      </div>
      <div class="text">PIE</div>
    </div>
    <div class="nav-item" (click)="goTo('doughnut')">
      <div class="img">
        <img src="images/donut-chart.png" alt="" />
      </div>
      <div class="text">DOUGHNUT</div>
    </div>
  </div>
